body {
    /* background-color: #071E55; */
    background-image: url(../images/rail-road.jpg);
    color: #071E55;
    font-size: medium;
}
.jumbotron {
    background-color: gray;
    /* color: #E894A7; */
}
.card-header {
    background-color: gray;
}
.card {
    background-color: darkgray;
}

.btn {
    background-color: gray;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}
h2 {
    font-size: x-large;

}
h3 {
    font-size: larger;

}